{% extends 'base.html.twig'%}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(form, { attr: { id: 'form-edit_tenant', novalidate: 'novalidate' } }) }}
    {{ form_row(form) }}
    <button type="submit" class="btn-success">inscription</button>
    {{form_end(form)}}
{% endblock %}