{% extends 'base.html.twig' %}

{% block title %}Gestion des locations{% endblock %}

{% block assets %}<script src={{ asset("assets/js/bien.js") }}></script>{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ asset('assets/img/pexels-1571460_bm.png') }}">
            </div>
            <div class="col-md-6">
                <h1>Résidence Saint-Vincent</h1>
                <p>Locataire : <strong>Therasa A. White</strong></p>
                <p><a class="text-red" href="#">Télécharger</a> le gabarit</p>
            </div>
        </div>
        <div class="row">
            <h1>Synthèse</h1>
            <div class="col-md-2">
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-header">Arrivée du locataire</div>
                    <div class="card-body">
                        <h5 class="card-title">Arrivée le 12/11/2021</h5>
                        <p class="card-text">Le locataire est arrivé à la résidence.</p>
                    </div>
                </div>
            </div>
            <div class="arrow">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-header">Signature de l’inventaire</div>
                    <div class="card-body">
                        <h5 class="card-title">Signé le 12/11/2021</h5>
                        <p class="card-text">par le locataire avec un commentaire.</p>
                    </div>
                </div>
            </div>
            <div class="arrow">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-header">Signature de l’inventaire</div>
                    <div class="card-body">
                        <h5 class="card-title">Signé le 13/11/2021</h5>
                        <p class="card-text">par le mandataire sans commentaire.</p>
                    </div>
                </div>
            </div>
            <div class="arrow">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">Signature fin état des lieux de l’inventaire
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">A signer le 15/11/2021</h5>
                        <p class="card-text">par le locataire.</p>
                    </div>
                </div>
            </div>
            <div class="arrow">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">Signature fin état des lieux de l’inventaire
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">A signer le 15/11/2021</h5>
                        <p class="card-text">par le mandataire.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
