{% block footer %}
    <!-- Footer -->
    <footer class="bg-black text-white">
        <!-- Copyright -->
        <div class="p-5">
            <p class="rs">Version 1.0</p>
            <p>Gestion locative</p>
            <p>Contact téléphone : <a href="tel:0606060606" target="_blank">06 06 06 06 06</a></p>
            <p>Contact email : <a href="mailto:contact@gestionlocative.fr" target="_blank">contact@gestionlocative.fr</a></p>
        </div>
    </footer>
{% endblock %}