{% block navbar %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-red">
        <div class="container-fluid">
            <button class="btn btn-secondary">Logo</button>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item" id="nav-accueil">
                        <a class="nav-link" href="{{ path('index') }}">Accueil</a>
                    </li>
                    <li class="nav-item" id="nav-biens">
                        <a class="nav-link" href="#">Biens</a>
                    </li>
                    <li class="nav-item" id="nav-locataires">
                        <a class="nav-link" href="{{ path('app_locataire_index') }}">Locataires</a>
                    </li>
                    <li class="nav-item" id="nav-mandataires">
                        <a class="nav-link" href="{{ path('app_mandataire_index') }}">Mandataires</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}