body {
    font-family: "Lato", sans-serif;
}

h1 {
    color: #9f5540;
}

.btn-red {
    color: #fff;
    background-color: #9f5540;
    border-color: #9f5540;
}

.btn-green {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}
