<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Gestion Locations{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
        <link rel="stylesheet" href="ressources/css/footer.css" type='text/css'>
        <link rel="stylesheet" href="ressources/css/style.css" type='text/css'>
        <link rel="stylesheet" href="ressources/css/navbar.css" type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic"
              rel="stylesheet"/>
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js"></script>
    {% endblock %}
</head>
<body>
{% block navbar %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="btn btn-secondary">Logo</button>
            <button aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarColor02" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="./index.php">Accueil</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
    <!-- Footer -->
    <footer>
        <div class="ls">
            <p>Gestion locative</p>
            <p>Contact téléphone : <a href="tel:0606060606" target="_blank">06 06 06 06 06</a></p>
            <p>Contact email : <a href="mailto:contact@gestionlocative.fr"
                                  target="_blank">contact@gestionlocative.fr</a></p>
        </div>
        <div class="rs">
            <p>Version 1.0</p>
        </div>
    </footer>
{% endblock %}
</body>
</html>
