{% extends 'base.html.twig' %}

{% block footer %}
    <!-- Footer -->
    <footer>
        <div class="ls">
            <p>Gestion locative</p>
            <p>Contact téléphone : <a href="tel:0606060606" target="_blank">06 06 06 06 06</a></p>
            <p>Contact email : <a href="mailto:contact@gestionlocative.fr"
                                  target="_blank">contact@gestionlocative.fr</a></p>
        </div>
        <div class="rs">
            <p>Version 1.0</p>
        </div>
    </footer>
{% endblock %}